<app-cabecera></app-cabecera>

<link
  href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular"
  rel="stylesheet"
  type="text/css"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
  crossorigin="anonymous"
/>
<div class="banner">
  <h1>🚀 EJERCICIOS {{ this.curso }} {{ this.asignatura }} 💪</h1>
</div>

<div class="container">
  <ul>
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 1</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU1">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.idMaterial)"
        ></i>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 2</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU2">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.idMaterial)"
        ></i>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 3</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU3">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.idMaterial)"
        ></i
      ></a>
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 4</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU4">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.idMaterial)"
        ></i
      ></a>
    </li>
  </ul>
</div>

<ng-container *ngIf="this.show" class="modal">
  <div class="modalc">
    <div class="modalc-content">
      <div class="modalc-header">
        <h1 class="modal-title fs-5">{{ this.enunciado }}</h1>
      </div>
      <hr />
      <form [formGroup]="formulario" class="modalc-body">
        <div class="modalc-body" *ngFor="let a of alternativas.sort()">
          <input
            type="radio"
            name="respuesta"
            value="{{ a }}"
            formControlName="respuesta"
            class="height:15px"
          />
          <h5>{{ a }}</h5>
        </div>
      </form>
      <hr />
      <div class="modalc-footer">
        <button (click)="revision()" class="modalc-button1">Revisar</button>
        <button (click)="cerrar()" class="modalc-button2">Cerrar</button>
      </div>
    </div>
  </div>
</ng-container>

<app-pie></app-pie>
