<app-cabecera></app-cabecera>

<link
  href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular"
  rel="stylesheet"
  type="text/css"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
  crossorigin="anonymous"
/>
<div class="banner">
  <h1>🚀 EJERCICIOS {{ this.curso }} {{ this.asignatura }} 💪</h1>
</div>
<app-carga
  *ngIf="
    contenidosU1.length == 0 &&
    contenidosU2.length == 0 &&
    contenidosU3.length == 0 &&
    contenidosU4.length == 0
  "
>
</app-carga>
<div class="container" *ngIf="!this.show">
  <ul *ngIf="contenidosU1.length > 0">
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 1</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU1">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.nombre)"
        ></i>
      </a>
    </li>
  </ul>
  <ul *ngIf="contenidosU2.length > 0">
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 2</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU2">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.nombre)"
        ></i>
      </a>
    </li>
  </ul>
  <ul *ngIf="contenidosU3.length > 0">
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 3</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU3">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.nombre)"
        ></i
      ></a>
    </li>
  </ul>
  <ul *ngIf="contenidosU4.length > 0">
    <li>
      <a target="_blank"
        ><h2 style="text-align: center; font-size: 35px">Unidad 4</h2></a
      >
    </li>
    <li *ngFor="let x of contenidosU4">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br />
        <br />
        <i
          *ngIf="!this.show"
          class="fa fa-rocket"
          style="margin: 5px"
          (click)="pregunta(x.nombre)"
        ></i
      ></a>
    </li>
  </ul>
</div>

<div *ngIf="this.show" class="pudueba">
  <div class="ejercicio">
    <h1>{{ this.enunciado }}</h1>
  </div>
  <hr />
  <ol *ngFor="let a of alternativas.sort()" class="respuestas">
    <li class="alternativa" *ngIf="a != this.selected" (click)="select(a)">
      ➵ {{ a }}
    </li>
    <li
      (click)="select(a)"
      class="alternativa"
      *ngIf="a == this.selected"
      style="color: rgb(60, 131, 72); text-decoration: underline"
    >
    ➵ {{ a }}
    </li>
  </ol>
  <hr />
  <div>
    <button class="button1" (click)="revision()">Revisar</button>
    <button class="button2" (click)="cerrar()">Cerrar</button>
  </div>
</div>

<app-pie></app-pie>
