<app-cabecera></app-cabecera>
<div class="row" style="background-color:  #9fdd93">
    <h1 style="text-align:center;">{{this.curso}}  {{this.asignatura}}</h1>
    <hr>
    <h1 style="text-align:center;">UNIDAD 1</h1>
    <hr>
    <div class="x" *ngFor="let x of contenidosU1">
        <div class="image" [ngStyle]="{ backgroundImage: 'url('+x.imagen+')' }"></div>
            <div class="info">
                <h2>{{x.nombre}}</h2>
                <button (click)="pregunta(x.nombre)">Obtener Pregunta</button>
            </div>
    </div>


    <h1 style="text-align:center;">UNIDAD 2</h1>
    <hr>
    <div class="x" *ngFor="let x of contenidosU2">
        <div class="image" [ngStyle]="{ backgroundImage: 'url('+x.imagen+')' }"></div>
            <div class="info">
                <h2>{{x.nombre}}</h2>
                <button (click)="pregunta(x.nombre)">Obtener Pregunta</button>
            </div>
    </div>


    <h1 style="text-align:center;">UNIDAD 3</h1>
    <hr>
    <div class="x" *ngFor="let x of contenidosU3">
        <div class="image" [ngStyle]="{ backgroundImage: 'url('+x.imagen+')' }"></div>
            <div class="info">
                <h2>{{x.nombre}}</h2>
                <button (click)="pregunta(x.nombre)">Obtener Pregunta</button>
            </div>
    </div>
    

    <h1 style="text-align:center;">UNIDAD 4</h1>
    <hr>
    <div class="x" *ngFor="let x of contenidosU4">
        <div class="image" [ngStyle]="{ backgroundImage: 'url('+x.imagen+')' }"></div>
            <div class="info">
                <h2>{{x.nombre}}</h2>
                <button (click)="pregunta(x.nombre)">Obtener Pregunta</button>
            </div>
    </div>

    

</div>

<ng-container *ngIf="this.show" class="modal">
    <div class="modal modalc">
        <div class="modalc-content">
            <div class="modal-header modalc-header">
                <h1 class="modal-title fs-5">{{this.enunciado}}</h1>
                <button (click)="revision()">Revisar</button>
                <button (click)="cerrar()">Cerrar</button>
            </div>
            
            <form [formGroup]="formulario">
               <div class="modalc-body" *ngFor="let a of alternativas.sort()">
                    <input  type="radio" name="respuesta" value="{{a}}" formControlName="respuesta">
                    <h5>{{a}}</h5>
                </div> 
            </form>
            
            
            
        </div>
    </div> 
</ng-container>

<app-pie></app-pie>