<app-cabecera></app-cabecera>

<div class="banner">
  <h1>📋 PUDÚEBAS {{ this.curso }} {{ this.asignatura }} ✏️</h1>
</div>

<app-carga
  *ngIf="
    contenidosU1.length == 0 &&
    contenidosU2.length == 0 &&
    contenidosU3.length == 0 &&
    contenidosU4.length == 0
  "
>
</app-carga>

<div *ngIf="!this.show && !this.revisado">
  <div
    class="container"
    *ngIf="
      contenidosU1.length > 0 &&
      contenidosU2.length > 0 &&
      contenidosU3.length > 0 &&
      contenidosU4.length > 0
    "
  >
    <ul *ngIf="contenidosU1.length > 0">
      <li>
        <a target="_blank"
          ><h2 style="text-align: center; font-size: 35px">Unidad 1</h2></a
        >
      </li>
      <li *ngFor="let x of contenidosU1">
        <a target="_blank">
          <p>{{ x.nombre }}</p>
          <input
            *ngIf="!this.show"
            type="number"
            step="1"
            class="quantity"
            min="0"
            max="30"
          />
        </a>
      </li>
    </ul>
    <ul *ngIf="contenidosU2.length > 0">
      <li>
        <a target="_blank"
          ><h2 style="text-align: center; font-size: 35px">Unidad 2</h2></a
        >
      </li>
      <li *ngFor="let x of contenidosU2">
        <a target="_blank">
          <p>{{ x.nombre }}</p>
          <input
            *ngIf="!this.show"
            type="number"
            step="1"
            class="quantity"
            min="0"
            max="30"
          />
        </a>
      </li>
    </ul>
    <ul *ngIf="contenidosU3.length > 0">
      <li>
        <a target="_blank"
          ><h2 style="text-align: center; font-size: 35px">Unidad 3</h2></a
        >
      </li>
      <li *ngFor="let x of contenidosU3">
        <a target="_blank">
          <p>{{ x.nombre }}</p>
          <input
            *ngIf="!this.show"
            type="number"
            step="1"
            class="quantity"
            min="0"
            max="30"
          />
        </a>
      </li>
    </ul>
    <ul>
      <li *ngIf="contenidosU4.length > 0">
        <a target="_blank"
          ><h2 style="text-align: center; font-size: 35px">Unidad 4</h2></a
        >
      </li>
      <li *ngFor="let x of contenidosU4">
        <a target="_blank">
          <p>{{ x.nombre }}</p>
          <input
            *ngIf="!this.show"
            type="number"
            step="1"
            class="quantity"
            min="0"
            max="30"
          />
        </a>
      </li>
    </ul>
    <div class="b-holder">
      <button id="crear" (click)="solicitud()">CREAR PRUEBA</button>
    </div>
  </div>
</div>

<div *ngIf="this.show" class="pudueba">
  <div *ngFor="let pregunta of this.preguntasPudu; let i = index" class="ejercicio">
    <h1>{{ pregunta.enunciado }}</h1>
    <ol *ngFor="let a of pregunta.alternativas.sort()" class="respuestas">
      <li (click)="answers(i, a)" class="alternativa" *ngIf="!check(i,a)">
        ➵ {{ a }}
      </li>
      <li (click)="answers(i, a)" class="alternativa" *ngIf="check(i,a)" style="color: rgb(60, 131, 72); text-decoration: underline;">
        ➵ {{ a }}
      </li>
    </ol>
    
  </div>

  <hr>
  <div>
    <button class="button1" (click)="revision()">Revisar</button>
    <button class="button2" (click)="cerrar()">Cerrar</button>
  </div>
  
</div>

<div *ngIf="this.revisado" class="pudueba">
  <h1 *ngIf="this.notaFinal >= 4" style="text-align: center; color:blue;">Nota Obtenida: {{this.notaFinal}}</h1>
  <h1 *ngIf="4 > this.notaFinal" style="text-align: center; color:red;">Nota Obtenida: {{this.notaFinal}}</h1>
  <div *ngFor="let p of this.preguntasPudu; let i = index" class="ejercicio">
    <h1>{{p.enunciado}}</h1>
    <br>
    <li class="alternativa">Respuesta correcta: {{p.respuestaCorrecta}}</li>
    <li *ngIf="p.respuestaCorrecta == this.respuestas[i]" class="alternativa" style="color:green">Respuesta marcada: {{this.respuestas[i]}}</li>
    <li *ngIf="p.respuestaCorrecta != this.respuestas[i]" class="alternativa" style="color:red">Respuesta marcada: {{this.respuestas[i]}}</li>
  </div>
  <button class="button2" (click)="cerrar()">Cerrar</button>
</div>
