<app-cabecera></app-cabecera>
<app-carga *ngIf="this.cursos.length == 0"></app-carga>
<div *ngIf="this.cursos.length > 0">
  <div *ngIf="this.rol != 'admin'">
    <form class="filtro" [formGroup]="formulario">
      <select
        name="curso"
        class="form-control"
        id="curso"
        name="curso"
        formControlName="curso"
      >
        <option>Curso</option>
        <option *ngFor="let x of this.cursos.sort()">{{ x.nombre }}</option>
      </select>
      <div
        *ngIf="
          this.formulario.value.curso == '' ||
          this.formulario.value.curso == 'Curso'
        "
      >
        <select
          name="asignatura"
          class="form-control"
          id="asignatura"
          name="asignatura"
          formControlName="asignatura"
        >
          <option>Asignatura</option>
          <option *ngFor="let y of this.vacio">{{ y }}</option>
        </select>
      </div>
      <div *ngIf="this.formulario.value.curso == '1M'">
        <select
          name="asignatura"
          class="form-control"
          id="asignatura"
          name="asignatura"
          formControlName="asignatura"
        >
          <option>Asignatura</option>
          <option *ngFor="let y of this.asig1M.sort()">{{ y }}</option>
        </select>
      </div>
      <div *ngIf="this.formulario.value.curso == '2M'">
        <select
          name="asignatura"
          class="form-control"
          id="asignatura"
          name="asignatura"
          formControlName="asignatura"
        >
          <option>Asignatura</option>
          <option *ngFor="let y of this.asig2M.sort()">{{ y }}</option>
        </select>
      </div>
    </form>

    <div class="main">
      <ul class="cards">
        <li class="cards_item">
          <div class="card">
            <div class="card_image">
              <img
                src="/assets/Libros.jpg"
                alt="Libros. "
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">Contenidos</h2>
              <div class="card_text">
                <p>
                  Acá podrás encontrar material de apoyo para reforzar tu
                  aprendizaje. 😃🧠
                </p>
                <p>
                  Disponemos de guías y vídeos para ayudarte en tu búsqueda de
                  conocimientos.📚🎥
                </p>
              </div>
              <button (click)="contenidos()">Vamos</button>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image">
              <img
                src="/assets/Calculadora.jpg"
                alt="Calculadora"
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">Ejercicios</h2>
              <div class="card_text">
                <p>
                  Si buscas practicar, ejercitando los contenidos aprendidos,
                  éste es tu lugar.💪
                </p>
                <p>Tendrás infinitos ejercicios preparados para ti.🎲</p>
                <p>
                  No te preocupes por el tiempo, en esta sección no hay reloj
                  que te apure, puedes realizar los ejercicios con total
                  tranquilidad.🤹
                </p>
              </div>
              <button (click)="ejercitar()">Vamos</button>
            </div>
          </div>
        </li>
        <li class="cards_item">
          <div class="card">
            <div class="card_image">
              <img
                src="/assets/Examen.webp"
                alt="Exámen"
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">Pudúebas</h2>
              <div class="card_text">
                <p>Si quieres simular una prueba, escoge esta opción.📋</p>
                <p>
                  Podrás escoger los contenidos evaluados, y posterior a
                  realizar tu pudúeba, obtendrás tu resultado para comprobar tus
                  avances.✔️❌
                </p>
              </div>
              <button (click)="puduebas()">Vamos</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="this.rol === 'admin'">
    <div class="main">
      <ul class="cards">
        <li class="cards_item">
          <div class="card">
            <div class="card_image">
              <img
                src="/assets/Colegio.jpg"
                alt="Colegio."
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">Agregar Cursos</h2>
              <div class="card_text">
                <p>Para agregar nuevos cursos al sistema y de este modo actualizar formularios y el filtro de navegación de usuario.</p>
              </div>
              <button (click)="agregarCurso()">Vamos</button>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="card">
            <div class="card_image">
              <img
                src="/assets/Sala-de-clases.jpg"
                alt="Sala de clases."
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">Agregar Asignaturas</h2>
              <div class="card_text">
                <p>Añadir asignaturas a algún curso, para actualizar formularios y filtro de navegación de usuario.</p>
                <p></p>
                <p>
                </p>
              </div>
              <button (click)="agregarAsignatura()">Vamos</button>
            </div>
          </div>
        </li>
        <li class="cards_item">
          <div class="card">
            <div class="card_image">
              <img
                src="/assets/Apuntes.jpg"
                alt="Cuaderno de apuntes."
              />
            </div>
            <div class="card_content">
              <h2 class="card_title">Agregar Material</h2>
              <div class="card_text">
                <p>Agregar nuevo material de estudio, para actualizar formularios y aumentar la cantidad de contenido educativo disponible en el sistema.</p>
                <p>
                </p>
              </div>
              <button (click)="agregarMaterial()">Vamos</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-pie></app-pie>
