
.filtro{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 5px;
    background-color: rgb(183, 131, 231);
    justify-content: center;
    
    select {
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: cursive, sans-serif;
        outline: 0;
        background: #cc2e9d;
        color: #fff;
        border: 1px solid rgb(58, 44, 46);
        padding: 4px;
        border-radius: 9px;
    }
}
.cards {
    display: flex;
    justify-content: center;
    min-width: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    
    .card{
        padding: 20px;
        justify-content: center;
        border-radius: 5px;
        border: solid rgba(255, 255, 255, 0.767) 3px;
        text-align: center;
        font-family:'Balsamiq Sans';
        margin: 0px auto;

        img{
            height: 190px;
            width: 190px;
        }
    }

    .card:hover{
        img{
            transform: scale(1.1,1.1);
        }
    }

    .button{
        border-radius: 3px;
        border: solid white 3px;
        font-weight: bold;
        font-size: large;
        font-family:cursive;
        margin:0px auto;
        color: white;
        height: 30px;
        width: 150px;
    }

    .button:hover{
        border: solid #4a4aa3 3px;
        color:#4a4aa3;
    }

    #contenidos{
        background-color: rgba(80,173,169);
        .button{
            background-color: rgba(80,173,169);
        }

        .button:hover{
            background-color: white;
        }
    }

    #ejercitar{
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgba(88,173,80);
        .button{
            background-color: rgba(88,173,80);
        }

        .button:hover{
            background-color: white;
        }
    }

    #puduebas{
        background-color: rgba(126,70,150);
        .button{
            background-color: rgba(126,70,150);
        }

        .button:hover{
            background-color: white;
        }
    }
    #agregarCurso{
        background-color: rgb(182, 180, 47);
        .button{
            background-color: rgb(182, 180, 47);
        }

        .button:hover{
            background-color: white;
        }
    }

    #agregarAsignatura{
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgb(116, 41, 91);
        .button{
            background-color: rgb(116, 41, 91);
        }

        .button:hover{
            background-color: white;
        }
    }

    #agregarMaterial{
        margin-right: 50px;
        background-color: rgb(47, 7, 92);
        .button{
            background-color: rgb(47, 7, 92);
        }

        .button:hover{
            background-color: white;
        }
    }

    #agregarPregunta{
        background-color: rgb(129, 48, 23);
        .button{
            background-color: rgba(129, 48, 23);
        }

        .button:hover{
            background-color: white;
        }
    }
}
