<div id="f">
    <form (ngSubmit)="ingresar()" [formGroup]="formulario">
        <h3 style="text-align: center;">Iniciar sesión</h3>
        <hr>
        <div class="mb-4">
            <label for="correo" class="form-label">Correo electrónico:</label>
            <input
            type="email"
            class="form-control"
            id="correo"
            name="correo"
            formControlName="correo"
            />
        </div>

        <div
        *ngIf="formulario.get('correo')?.touched && formulario.get('correo')?.errors?.['required']"
        style="background-color:#827957; color: rgba(31, 30, 27, 0.85)"
      >
        Este campo es obligatorio.
      </div>

      <div
        *ngIf="formulario.get('correo')?.touched && formulario.get('correo')?.errors?.['email']"
        style="background-color:#827957; color: rgba(31, 30, 27, 0.85)"
      >
        Debe ser un correo válido.
      </div>

        <br>
        <div class="mb-4">
            <label for="contrasena" class="form-label">Contraseña:</label>
            <input
            type="password"
            class="form-control"
            id="contrasena"
            name="contrasena"
            formControlName="contrasena"
            />
        </div>

        <div
        *ngIf="formulario.get('contrasena')?.touched && formulario.get('contrasena')?.errors?.['required']"
        style="background-color:#827957; color: rgba(31, 30, 27, 0.85)"
      >
        Este campo es obligatorio.
      </div>

        <hr>
        <button type="submit" class="btn" [disabled]="formulario.get('correo')?.errors?.['required'] || formulario.get('correo')?.errors?.['email'] || formulario.get('contrasena')?.errors?.['required']">Iniciar Sesión</button>
        <hr>
        <a id="registro" href="/registrar">Si no tienes cuenta, únete clickeando aquí.</a>
    </form>
</div>