<app-cabecera></app-cabecera>
<link
  href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<div class="banner">
  <h1>😃 CONTENIDOS {{ this.curso }} {{ this.asignatura }} 🧠</h1>
</div>

<div class="container">
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 1</h2></a>
    </li>
    <li *ngFor="let x of contenidosU1">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 2</h2></a>
    </li>
    <li *ngFor="let x of contenidosU2">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 3</h2></a>
    </li>
    <li *ngFor="let x of contenidosU3">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 4</h2></a>
    </li>
    <li *ngFor="let x of contenidosU4">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
</div>
