<app-cabecera></app-cabecera>
<link
  href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<div class="banner">
  <h1>😃 {{ this.curso }} {{ this.asignatura }} 🧠</h1>
</div>

<div class="container">
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 1</h2></a>
    </li>
    <li *ngFor="let x of contenidosU1">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 2</h2></a>
    </li>
    <li *ngFor="let x of contenidosU2">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 3</h2></a>
    </li>
    <li *ngFor="let x of contenidosU3">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
  <ul>
    <li>
      <a target="_blank"><h2 style="text-align: center;font-size: 35px;">Unidad 4</h2></a>
    </li>
    <li *ngFor="let x of contenidosU4">
      <a target="_blank">
        <p>{{ x.nombre }}</p>
        <br>
        <br>
        <i class="fa fa-book-open" style="margin:5px" (click)="redirigir(x.documento)"></i>
        <i class="fa fa-play-circle"style="margin:5px" (click)="redirigir(x.video)"></i>
      </a>
        
    </li>
  </ul>
</div>

<!--
<div class="ag-format-container">

  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <div class="ag-courses-item_link" id="unidad-holder">
        <div class="ag-courses-item_title" >
          UNIDAD 1
        </div>
      </div>
    </div>
    
  </div>

  <div class="ag-courses_box" >
    <div class="ag-courses_item">
      <div class="ag-courses-item_link" id="unidad-holder">
        <div class="ag-courses-item_title" >
          UNIDAD 1
        </div>
      </div>
    </div>
    <div class="ag-courses_item" *ngFor="let x of contenidosU1">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          {{ x.nombre }}
        </div>

        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.documento }}" target="blank">Ver guía</a>
          </span>
        </div>
        <br />
        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.video }}" target="blank">Ver vídeo</a>
          </span>
        </div>
      </div>
    </div>
  </div>
    <hr>
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <div class="ag-courses-item_link" id="unidad-holder">
        <div class="ag-courses-item_title" >
          UNIDAD 2
        </div>
      </div>
    </div>
    <div class="ag-courses_item" *ngFor="let x of contenidosU2">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          {{ x.nombre }}
        </div>

        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.documento }}" target="blank">Ver guía</a>
          </span>
        </div>
        <br />
        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.video }}" target="blank">Ver vídeo</a>
          </span>
        </div>
      </div>
    </div>
  </div>
    <hr>
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <div class="ag-courses-item_link" id="unidad-holder">
        <div class="ag-courses-item_title" >
          UNIDAD 3
        </div>
      </div>
    </div>
    <div class="ag-courses_item" *ngFor="let x of contenidosU3">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          {{ x.nombre }}
        </div>

        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.documento }}" target="blank">Ver guía</a>
          </span>
        </div>
        <br />
        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.video }}" target="blank">Ver vídeo</a>
          </span>
        </div>
      </div>
    </div>
  </div>
    <hr>
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <div class="ag-courses-item_link" id="unidad-holder">
        <div class="ag-courses-item_title" >
          UNIDAD 4
        </div>
      </div>
    </div>
    <div class="ag-courses_item" *ngFor="let x of contenidosU4">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          {{ x.nombre }}
        </div>

        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.documento }}" target="blank">Ver guía</a>
          </span>
        </div>
        <br />
        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            <a href="{{ x.video }}" target="blank">Ver vídeo</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>-->
