.container-fluid{
    height:120px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #4A4AA3;
    border:solid 5px; 
    border-color: black ;
    #icono{
        align-items: center;
        justify-content: left;
        text-decoration: none;
        align-self: center;
        display: flex;
        color: black;
        font-family: 'Balsamiq Sans';
        height: 120px;
        padding: 20px;
        
        img{
            display: flex;
            height: 70px;
            width: 90px;
            
        }

        h1{
           color:#000000; 
           text-shadow: rgb(223, 199, 217) 2px 5px;
        }
           
    }
    
    #botones{
        justify-content: space-between;
        padding: 15px;
        .svg{
            background-color: aqua;
        }
    }
}