.container-fluid{
    height:120px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #000000;
    border-top: solid #000000  5px;
    border-bottom: solid #000000  5px;
    margin: 0;
    padding-right: 50px;
    #icono{
        align-items: center;
        justify-content: left;
        text-decoration: none;
        align-self: center;
        display: flex;
        color: rgb(219, 47, 47);
        font-family: 'Balsamiq Sans';
        height: 120px;
        padding: 10px;
        
        img{
            display: flex;
            height: 70px;
            width: 90px;
            
        }

        h1{
           color:#fdfbfb; 
           //text-shadow: rgb(223, 199, 217) 2px 5px;
        }
           
    }
    
    #botones{
        align-self: center;
        color: rgb(253, 248, 248);
        margin: 20px;
    }
}
@media (max-width:600px){
    .container-fluid{
        padding-right: 200px;
    }
}