<header class="header">
  <div id="logo">
    <a id="icono" href="/principal">
      <img src="/assets/LogoPudufesor.png" alt="Logo Pudúfesor" />
      <h1>Pudúfesor</h1>
    </a>
  </div>
  <ul class="main-nav" *ngIf="this.rol != 'usuario' && this.rol != 'admin'">
    <li><a href="">Inicio</a></li>
    <li><a href="/ingresar">Ingresar</a></li>
    <li><a href="/registrar">Registrar</a></li>
  </ul>
  <ul *ngIf="this.rol === 'usuario'">
    <li><a href="">Inicio</a></li>
    <li><a href="/perfil">Perfil</a></li>
    <li><a href="/ingresar">Salir</a></li>
  </ul>
  <ul *ngIf="this.rol === 'admin'">
    <li><a href="">Inicio</a></li>
    <li><a href="/ingresar">Salir</a></li>
  </ul>
</header>
