#f{
    
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 10px;
    background-color: rgba(31, 30, 27, 0.85);
    color: white;
    justify-content: center;
    #sesion{
        color: white;
        margin-right: 0;
    }
    
    .btn{
        background-color:rgba(31, 30, 27, 0.85) ;
        color:white
    }
}